<table border="1">
  <tr>
    <th>El número de preguntas</th>
    <td><%=statistics.quizesNumber%></td>
  </tr>
    <th>El número de comentarios totales</th>
    <td><%=statistics.publishedCommentsNumber%></td>
  </tr>
    <th>El número medio de comentarios por pregunta</th>
    <td><%=statistics.commentsAverage%></td>
  </tr>
    <th>El número de preguntas sin comentarios</th>
    <td><%=statistics.quizesNotCommented%></td>
  </tr>
    <th>El número de preguntas con comentarios</th>
    <td><%=statistics.commentedQuizes%></td>
  </tr>
</table>
